{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% bootstrap_css %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'movies:index' %}">Index</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="#">{{user.username}}</a>
          <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">logout</a>
          <a class="nav-item nav-link" href="{% url 'accounts:user_list' %}">users</a>
        {% else %}
          <a class="nav-item nav-link" href="{% url 'accounts:login' %}">login</a>
          <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">signup</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
  {% bootstrap_javascript jquery='full' %}
</body>
</html>